# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Git
.git
.gitignore

# VS Code
.vscode/

# Logs
*.log

# Pytest cache
.pytest_cache/

# Mypy cache
.mypy_cache/

# OS files
.DS_Store
Thumbs.db